@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Outfit', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 1000vh;
  background: linear-gradient(180deg, #0a0a2a, #0c0c1d);
  color: beige;
  font-family: "outfit";
}